<h3>Black Knight Reporting Tools</h3>
<br>
<h4> Please select from the list of available Reports below.</h4>
<br>
<div>
<p> 
	<ul>
		<li class="nav-item">
            <a class="nav-link"><%= link_to "Property Value Report", welcome_propertyvalue_path %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%= link_to "Median Sales Report", welcome_mediansales_path %></a>
        </li>
         <li class="nav-item">
            <a class="nav-link"><%= link_to "Comparable Sales Report", welcome_comparablesales_path %></a>
        </li>
         <li class="nav-item">
            <a class="nav-link"><%= link_to "Sales by Price Range Report", welcome_salesbyrange_path %></a>
        </li>
         <li class="nav-item">
            <a class="nav-link"><%= link_to "Neighborhood Valuation by ZIP", welcome_neighborhoodv_path %></a>
        </li>
         <li class="nav-item">
            <a class="nav-link"><%= link_to "Neighborhood Annual Percentage Change in Valuation by ZIP", welcome_annualpercentage_path %></a>
        </li>
         <li class="nav-item">
            <a class="nav-link"><%= link_to "Unit Sales Volume by ZIP", welcome_unitsales_path %></a>
        </li>
         <li class="nav-item">
            <a class="nav-link"><%= link_to "Active Forclosure by ZIP", welcome_forclosures_path %></a>
        </li>

	</ul>

</p>
</div>