<!DOCTYPE html>
<html>
  <head>
    <title>APR Property Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="<%is_active?(welcome_index_path) %> nav-item">
              <a class="nav-link "><%= link_to "Home", welcome_index_path %> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Zillow Reports", welcome_zillow_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Trulia Reports", welcome_trulia_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "ListGlobally Reports", welcome_listglobally_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= link_to "Black Knight Financial Reports", welcome_blackknight_path %></a>
            </li>
          </ul>
        </nav>
        <center><h1>APR Property Data Application</h1></center>
      </div>
  	
    <%= yield %>
    </div>
  </body>
</html>
